@using BusinessLayer.Concrete
@using DataAcceLayer.EntityFramework
@inject NavigationManager navManager
@page "/WorkContentDetail/{id:int}"
@{
   work = Wm.GetByID(id);

}
@attribute [Authorize(Roles = "administration")]
<AuthorizeView>
    <Authorized>


        <div class="container-xxl flex-grow-1 container-p-y">


            <!-- Basic Bootstrap Table -->
            <div class="card">
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Admin/</span>Work Detail</h4>
              
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Work ID</th>
                                <th>Work Title</th>
                                <th>Date</th>
                                <th>İmage</th>
                                <th>Status</th>
                                

                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@work.WorkID</strong></td>
                                <td>@work.WorkTitle</td>
                                <td>@work.WorkDate</td>

                                <td>
                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                        <li data-bs-toggle="tooltip"
                                            data-popup="tooltip-custom"
                                            data-bs-placement="top"
                                            class="avatar avatar-xs pull-up"
                                            title="Lilian Fuller">
                                            <a target="_blank" href="/img/@work.WorkImage"><img src="/img/@work.WorkImage" alt="Avatar" class="rounded-circle" /></a>
                                        </li>
                                    </ul>
                                </td>

                                <td><span class="badge bg-label-primary me-1">@work.WorkStatus</span> <button @onclick="()=>Change(work.WorkID)">Change</button></td>




                            </tr>


                        </tbody>
                    </table>
                    <center><h2>Content</h2></center>
                    <p>@work.WorkContent</p>

                </div>
                <button class="btn btn-danger" @onclick="()=>Delete(work.WorkID)"> Delete </button>
                <a class="btn btn-secondary" href='/WorkUpdate/@work.WorkID'><i class="bx bx-edit-alt me-1"></i> Update </a>
            </div>
    </Authorized>

</AuthorizeView>
@code {
    [Parameter] public int id { get; set; }
    Entitylayer.Work work = new Entitylayer.Work();
    WorkManager Wm = new WorkManager(new EWorkRepository());
    private List<Entitylayer.Work> GetWork()
    {
        return Wm.GetWorkListWithCategory();
    }
    private void Change(int id)
    {
        var work = Wm.GetByID(id);
        if (work.WorkStatus == true)
        {
            work.WorkStatus = false;

        }
        else
        {
            work.WorkStatus = true;
        }
        Wm.WorkUpdate(work);
    }
    private async void Delete(int id)
    {
        var value = Wm.GetByID(id);

        string Loc = null;
        if (value.WorkImage != null)
        {
            Loc = Path.Combine("wwwroot/img/", value.WorkImage);
        }
        Wm.WorkDelete(value);
        if (System.IO.File.Exists(Loc))
        {
            System.GC.Collect();
            System.GC.WaitForPendingFinalizers();
            System.IO.File.Delete(Loc);
        }
    }
}