@using BusinessLayer.Concrete
@using DataAcceLayer.EntityFramework
@page "/categoryadmin"
@attribute [Authorize(Roles = "administration")]

<AuthorizeView>
    <Authorized>
        
      

        <div class="container-xxl flex-grow-1 container-p-y">
            <a class="btn btn-primary" href='/CategoryAdd'>Add</a>
            <br />
            <!-- Basic Bootstrap Table -->
            <div class="card">
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">&nbsp; Admin/</span>Category</h4>
               
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Category ID</th>
                                <th>Category Name</th>
                                <th>Category Desc</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            @foreach (var item in Getcategory())
                            {
                                <tr>
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.CategoryID</strong></td>
                                    <td>@item.CategoryName</td>
                                     @if (item.CategoryDescription.Length > 52)
                                    {
                                        <td>@item.CategoryDescription.Substring(0,52)<a href='/CategoryDetail/@item.CategoryID'> ... </a></td>
                                    }
                                    else
                                    {
                                        <td>@item.CategoryDescription<a href='/CategoryDetail/@item.CategoryID'> ... </a></td>
                                    }

                                    <td><span class="badge bg-label-primary me-1">@item.CategoryStatus</span> <button @onclick="()=>Change(item.CategoryID)">Change</button></td>
                                   

                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href='/CategoryUpdate/@item.CategoryID'><i class="bx bx-edit-alt me-1"></i> Update </a>
                                                <button class="dropdown-item" @onclick="()=>Delete(item.CategoryID)"><i class="bx bx-trash me-1"></i> Delete </button>

                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>




    </Authorized>

</AuthorizeView>

@code {

    CategoryManager Cm = new CategoryManager(new ECategoryRepository());
    private List<Entitylayer.Category> Getcategory()
    {
        return Cm.GetList();
    }
    private void Change(int id)
    {
        var category = Cm.GetByID(id);
        if (category.CategoryStatus == true)
        {
            category.CategoryStatus = false;

        }
        else
        {
            category.CategoryStatus = true;
        }
        Cm.CategoryUpdate(category);
    }
    private async void Delete(int id)
    {
        var value = Cm.GetByID(id);


        Cm.CategoryDelete(value);

    }
}
